header {
  opacity: 0;
  width: 100%;
  @include center;
  justify-content: space-around;
  position: absolute;
  top: 3%;
  z-index: 999;

  @media (max-width: 800px) {
    flex-direction: column;
    font-size: 1em;
  }
  .portfolioName {
    position: relative;
    a {
      color: ivory;
      font-size: 2.5em;
      text-transform: capitalize;
      font-family: "young-serif";
      letter-spacing: 5px;
      @media (max-width: 800px) {
        font-size: 1.5em;
      }
      span {
        color: red;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000; /* Ombre textuelle */
        text-transform: uppercase;
        font-weight: bolder;
        font-family: "young-serif";
      }
    }
    &::after {
      content: "🚀";
      opacity: 0;
      position: absolute;
      font-size: 2em;
      top: 15%;
      right: -10%;
      animation: moveAfter 15s 10s linear forwards;
    }
  }
  animation: homeAnime 2s 4s ease-in forwards;
  //   animation-delay: 4s;
}

@keyframes moveAfter {
  0% {
    right: -140%;
    top: 160%;
    rotate: (-190deg);
    opacity: 1;
    scale: 0.3;
  }
  20% {
    right: -90%;
    top: 300%;
    rotate: (-190deg);
    scale: 3;
    opacity: 1;
  }
  40% {
    right: -60%;
    top: 600%;
    rotate: (-100deg);
    scale: 4;
    opacity: 1;
  }
  60% {
    right: 0%;
    top: 300%;
    rotate: (-50deg);
    scale: 3;
    opacity: 1;
  }
  80% {
    right: 0%;
    top: 100%;
    rotate: (-10deg);
    scale: 2;
    opacity: 1;
  }
  100% {
    top: 15%;
    right: -10%;
    opacity: 1;
  }
}

@keyframes headerAnime {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
