header {
  width: 100%;
  @include center;
  justify-content: space-around;
  position: absolute;
  top: 3%;
  .portfolioName {
    z-index: 999;
    position: relative;
    a {
      color: ivory;
      font-size: 2.5em;
      text-transform: capitalize;
      font-family: "young-serif";
      letter-spacing: 5px;
      span {
        color: red;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000; /* Ombre textuelle */
        text-transform: uppercase;
        font-weight: bolder;
        font-family: "young-serif";
      }
    }
    &::after {
      content: "🚀";
      opacity: 0;
      position: absolute;
      font-size: 2em;
      top: 15%;
      right: -10%;
      animation: moveAfter 15s 10s linear forwards;
    }
  }
}

@keyframes moveAfter {
  0% {
    right: -130%;
    top: 130%;
    rotate: (-190deg);
    opacity: 1;
  }
  20% {
    right: -90%;
    top: 300%;
    rotate: (-190deg);
    scale: 3;
    opacity: 1;
  }
  40% {
    right: -60%;
    top: 600%;
    rotate: (-100deg);
    scale: 4;
    opacity: 1;
  }
  60% {
    right: 0%;
    top: 300%;
    rotate: (-50deg);
    scale: 3;
    opacity: 1;
  }
  80% {
    right: 0%;
    top: 100%;
    rotate: (-10deg);
    scale: 2;
    opacity: 1;
  }
  100% {
    top: 15%;
    right: -10%;
    opacity: 1;
  }
}
