swiper-container {
  padding: 0 10%;
  width: 1400px;
  height: 400px;

  @media (max-width: 1400px) {
    height: 400px;

    padding: 0 20%;
  }
  @media (max-width: 1100px) {
    height: 400px;
    width: 1200px;
    padding: 0 25%;
  }
  @media (max-width: 800px) {
    height: 400px;
    width: 1000px;
    padding: 0 30%;
  }

  @media (max-width: 640px) {
    height: 340px;
    width: 400px;
    padding: 0 10%;
    margin-top: 5%;
  }
  .serviceSlider-wrap {
    height: 90%;
    .serviceSlider {
      background: rgba(
        255,
        255,
        255,
        0.2
      ); /* Couleur de fond semi-transparente */
      backdrop-filter: blur(10px); /* Effet de flou */
      border-radius: 20px; /* Coins arrondis */
      overflow: hidden; /* Masquer le contenu débordant des coins arrondis */
      color: #fff;
      font-size: 1em;
      @include center;
      flex-direction: column;
      justify-content: space-around;
      padding: 10% 10%;
      height: 100%;

      @media (max-width: 640px) {
        padding: 5%;
      }
      .icon {
        color: red;
        font-size: 3em;
        height: 10%;
        margin-bottom: 5%;
        @media (max-width: 600px) {
          font-size: 2em;
        }
      }
      .title {
        font-size: 1.5em;
        font-weight: bold;
        height: 20%;
        span {
          color: red;
        }
      }
      .description {
        height: 70%;
        font-size: 1.2em;
      }
    }
  }
}
