.socialLink {
  color: white;
  //   width: 100%;
  z-index: 999;
  ul {
    @include center;
    gap: 40px;
    li {
      a {
        &:hover {
          svg {
            color: red; // Couleur pour le premier enfant au survol
            scale: 1.2;
          }
        }
      }
    }
  }
  svg {
    transition: 0.3s ease;
    color: ivory;
    font-size: 2em;
    @media (max-width: 800px) {
      font-size: 1.5em;
      margin-top: 20%;
    }
  }
}
