.topLeftImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
  // transform: translate(-80%, -80%);
  // mix-blend-mode: hard-light;
  width: 40%;
  z-index: 99;
  opacity: 0.9;
  animation: explosion 5s;
}

@keyframes explosion {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-40%, -40%) scale(1);
  }
}
