.servicesPage {
  position: relative;
  width: 100%;
  height: 100svh;

  @include center;
  color: white;

  .servicesPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px) {
      margin-top: 20%;
    }

    .servicesPage-intro {
      padding-left: 30%;

      @media (max-width: 600px) {
        padding-left: 20%;
      }

      h2 {
        font-size: 2em;
        margin-bottom: 2%;
        text-align: left;

        @media (min-width: 1280px) {
          margin-top: 8px;
        }

        @media (max-width: 600px) {
          font-size: 1.5em;
        }

        span {
          color: red;
        }
      }

      p {
        // display: block;
        margin-bottom: 5%;
        font-size: 1.2em;
        max-width: 50%;
        text-align: left;

        @media (max-width: 600px) {
          max-width: 80%;
        }

        @media (max-width: 600px) {
          font-size: 0.8em;
        }
      }
    }
  }
}

.bulb {
  position: absolute;
  left: -4%;
  bottom: -7%;
  mix-blend-mode: color-dodge;

  @media (max-width: 600px) {
    bottom: 4%;
    left: -15%;

  }

  @keyframes pulse {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }

  animation: pulse 2s infinite linear;
  // transition-duration: 0.75s;
  z-index: 10;
  width: 200px;

  @media (min-width: 1280px) {
    width: 260px;
  }

  img {
    width: 80%;
    transform: rotate(30deg);
  }
}