* {
  //   background: red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.page {
  position: relative;
  background: linear-gradient(45deg, #2c3e50, #3498db, #8e44ad, #e74c3c);
  height: 100vh;
  z-index: 99;
}

a {
  text-decoration: none;
  color: black;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
